<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plan</title>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@200;300;400;600&family=Roboto:wght@100;400;500&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" id="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a onclick="plan()" class="nav-link" aria-current="page" href="#">By one</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="planFull()" class="nav-link" href="#">Full</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <table class="table table-striped">
        <thead>
        <tr id="thead">
            <th>#</th>
            <th>Subject</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Group</th>
        </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>
</div>

<!-- Modal add-->
<div class="modal fade" id="add_plan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new record</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select mb-3" aria-label="Group" id="sortworkCreated">
                    <option selected>Choose a sort of work</option>
                </select>
                <select class="form-select mb-3" aria-label="Subject" id="subjectCreated">
                    <option selected>Choose a subject</option>
                </select>
                <select class="form-select mb-3" aria-label="Typework" id="groupCreated">
                    <option selected>Choose a group</option>
                </select>
                <div class="form-outline">
                    <input type="date" id="dateBeginCreated" class="form-control mb-3"/>
                    <label class="form-label" for="dateBeginCreated">Start date</label>
                </div>
                <div class="form-outline">
                    <input type="date" id="dateEndCreated" class="form-control mb-3"/>
                    <label class="form-label" for="dateEndCreated">End date</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="add" data-mdb-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="delete_plan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete" data-mdb-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Save-->
<div class="modal fade" id="save_plan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save" data-mdb-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="text/javascript" src="../static/js/settings.js"></script>
<script type="text/javascript" src="../static/js/planFull.js"></script>
<script>
    $(document).change(`#dateBeginCreated`, function(){
        $('#dateEndCreated').val($('#dateBeginCreated').val());
    });
</script>
</body>
</html>