
<div class="container" id="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Actions
            <button type="button" class="btn btn-outline-success btn-sm" data-mdb-toggle="modal" data-mdb-target="#add_typework">New</button></th>
    </tr>
    </thead>
    <tbody id="data"></tbody>
</table>


<!-- Modal Add-->
<div class="modal fade" id="add_typework" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add type of work</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <input type="text" id="name" class="form-control mb-3" />
                    <label class="form-label" for="name">Name</label>
                </div>
                <div class="form-outline">
                    <input type="text" id="shortName" class="form-control mb-3" />
                    <label class="form-label" for="shortName">Short name</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save" data-mdb-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update-->
<div class="modal fade" id="update_typework" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Update type of work</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <input type="text" id="nameUpdated" class="form-control mb-3" />
                    <label class="form-label" for="name">Name</label>
                </div>
                <div class="form-outline">
                    <input type="text" id="shortNameUpdated" class="form-control mb-3" />
                    <label class="form-label" for="shortNameUpdated">Short name</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="update" data-mdb-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="delete_typework" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete" data-mdb-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="text/javascript" src="../static/js/typework.js"></script>
